<ion-header>
  <ion-navbar color="dark" *ngIf="!visibilidade">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre</ion-title>
  </ion-navbar>
  <ion-navbar color="dark" *ngIf="visibilidade">
    <ion-searchbar [(ngModel)]="pesquisa" [showCancelButton]="shouldShowCancel" (ionInput)="pesquisar($event)" (ionClear)="cancelarPesquisa()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div>

        <p class="sobre">As prefeituras estão organizando ações para que seja possível o incentivo e aumento do índice
            de educação dos moradores de suas cidades. Assim, foi criada uma Biblioteca Virtual Pública, no qual
            moradores possam cadastrar os livros que possuem e que queiram compartilhar, assim como, ter acesso a
            livros de outras pessoas. <br>
          Os desenvolvedores deste projeto são alunos da Universidade Paulista, e estão cursando o 4º no de Ciências da Computação. </p>


      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/toshio.png">
        </ion-avatar>
        <h2>Eduardo Toshio</h2>
        <p>11 de Junho de 1996</p>
        <p>Suporte de Redes at Prtelecom</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/giovanni.png">
        </ion-avatar>
        <h2>Giovanni Rossini</h2>
        <p>22 de Feverreiro de 1996</p>
        <p>DevOps & SysAdmin at Instituto Soma</p>
        <p>DevOps & SysAdmin at Grupo Tesseract</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/guilherme.png">
        </ion-avatar>
        <h2>Guilherme Vargas</h2>
        <p>20 de Fevereiro de 1997</p>
        <p>Analista de Suporte Técnico at Lynx</p>
      </ion-item>
      </div>
</ion-content>
