<ion-header>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-navbar>
    <ion-title>animacoes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div animates #animation="animates" text-center>
    <button ion-button (click)="animation.start({type: 'shake',
        duration: '1000'})">Clique aqui</button>
  </div>
  <button ion-button (click)="criarEfeito()">Efeito</button>
  <p [@meuEfeito]="estadoAnimacao">
    Texto Animacao 01
  </p>

  <br />
  <br>
  <div animates #myElement text-center>
    <button ion-button (click)="animarBotao()">Click me!</button>
  </div>
</ion-content>