<ion-header>
    <ion-navbar color="dark" *ngIf="!visibilidade">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Chat</ion-title>
    </ion-navbar>
    <ion-navbar color="dark" *ngIf="visibilidade">
        <ion-searchbar [(ngModel)]="pesquisa" [showCancelButton]="shouldShowCancel" (ionInput)="pesquisar($event)" (ionClear)="cancelarPesquisa()">
        </ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content padding class="ion-note">
  <ion-list>
    <ion-item>
      <ion-label floating>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Mensagem</ion-label>
      <ion-input type="text" [(ngModel)]="mensagem"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click)="enviar()">Enviar</button>
    </ion-item>
    <ion-item *ngFor="let item of lista | async">

      <ion-note item-left>
                {{item.user}} - {{item.texto}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
