@import url('https://fonts.googleapis.com/css?family=Limelight');
page-home {

}

.home {
    background-color: rgba(187, 187, 187, 0.349);
    background: url("../assets/imgs/Sing.jpg") no-repeat 50% 50%;
    background-size: 100%;
}

.home h3 {
    text-align: center;
    font-size: 500%;
    color: rgb(33, 33, 33);
    font-family: 'Limelight', cursive;
    padding: 1.5%;
}

.home div {
    padding: 10%;
}

.home button {
    height: 15%;
    width: 15%;
    font-size: 250%;
    margin: 7.5% 40%;
    padding: 10px 10px;
    border-radius: 9px;
    font-family: 'Limelight', cursive;
    border: solid "dark"  3px;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    .home button {
        height: 50%;
        width: 50%;
        font-size: 225%;
        margin: -5% 25%;
        display: none;
    }

    .home h3 {
        font-size: 375%;
    }
}
