<ion-content padding>
    <ion-card>
    <ion-item>
    <ion-avatar item-start>
    <img src="../../assets/imgs/marty-mcfly.jpg">
    </ion-avatar>
    <h2>{{info.nome}}</h2>
    <p>{{info.data}}</p>
    </ion-item>

    <img src="../../assets/imgs/delorean.jpg">

    <ion-card-content>
    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling
   me that you built a time machine... out of a DeLorean?! Whoa. This is
   heavy.</p>
    </ion-card-content>

    <ion-row>
    <ion-col>
    <button ion-button icon-left clear small>
    <ion-icon name="thumbs-up"></ion-icon>
    <div>{{info.likes}} Likes</div>
    </button>
    </ion-col>
    <ion-col>
    <button ion-button icon-left clear small>
    <ion-icon name="text"></ion-icon>
    <div>{{info.comentarios}} Comments</div>
    </button>
    </ion-col>
    <ion-col center text-center>
    <ion-note>
    11h ago
    </ion-note>
    </ion-col>
    </ion-row>

    </ion-card>
   </ion-content>
