<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SignIn</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signin">
  <h3></h3>
  <form #f="ngForm" (ngSubmit)="onSignin(f)">
    <ion-list>
      <ion-item class="input">
        <ion-label color="dark" fixed>E-mail</ion-label>
        <ion-input
          type="email"
          ngModel
          name="email"
          required></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-label color="dark" fixed>Password</ion-label>
        <ion-input
          type="password"
          ngModel
          name="password"
          required></ion-input>
      </ion-item>
    </ion-list>

    <ion-buttons>
      <button ion-button block type="submit" [disabled]="!f.valid">Signin</button>
      <button ion-button block type="button" color="light" (click)="novoUsuario()">Novo Usuário</button>
    </ion-buttons>
  </form>
</ion-content>
