page-signin {


.signin{
    background: url("../assets/imgs/Sing.jpg") no-repeat 50% 50%;
    background-size: 100%;

}

.signin h3{
    text-align: center;
    height: 28%;
    width: 28%;

}

.input {
  background-color: transparent;
}

}
