<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro Autores</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="autor.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Idade</ion-label>
      <ion-input type="number" [(ngModel)]="autor.idade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Imagem</ion-label>
      <ion-thumbnail item-start *ngIf="imagemUploaded">
        <img src="{{autor.img}}">
      </ion-thumbnail>
      <button ion-button item-right color="danger" *ngIf="imagemUploaded" (click)="cancelarImagem()">
        <ion-icon name="camera"></ion-icon>Alterar
      </button>
      <button ion-button item-right color="dark" *ngIf="!imagemUploaded" (click)="tirarFoto()">
        <ion-icon name="camera"></ion-icon>&nbsp;Camera
      </button>
      <button ion-button item-right color="dark" *ngIf="!imagemUploaded" (click)="escolherImagem()">
        <ion-icon name="images"></ion-icon>&nbsp;Galeria
      </button>
    </ion-item>
  </ion-list>
  <ion-buttons>
    <button ion-button color="dark" (click)="salvar($event)">Salvar</button>
    <button ion-button color="danger" (click)="cancelar()">Cancelar</button>
  </ion-buttons>
</ion-content>