<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SignUp</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signup">
    <h3></h3>
  <form #f="ngForm" (ngSubmit)="onSignup(f)">
      <ion-label><h3></h3></ion-label>
    <ion-list>
      <ion-item class="input">
        <ion-label color="dark" fixed>E-mail</ion-label>
        <ion-input
          type="email"
          ngModel
          name="email"
          required></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-label color="dark" fixed>Senha</ion-label>
        <ion-input
          type="password"
          ngModel
          name="password"
          required
          [minlength]="6"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">Signup</button>
  </form>
</ion-content>
