<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>

      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{autor.nome}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editarItem($event)">
        <ion-icon name="build"></ion-icon>
      </button>
      <button ion-button icon-only (click)="removerItem($event)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img src="{{autor.img}}">
    <ion-item>
      <ion-icon name="book" item-start large></ion-icon>
      <h2>{{autor.nome}}</h2>
      <p>Idade: {{autor.idade}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="buffer" item-left large></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>