page-carrinho {
    .button{
        align-items: center;
        text-align: center;
        height: 8%;
        width: 100%;
        color: black;
    }
    .h3{
        font-family: 'Limelight', cursive;
        color: white;
        text-align: center;
    }
    .h2{
        text-align: right;
    }
    
}
